<div class="container-fluid h-100 d-flex justify-content-center mt-3">
    <div class="card bxsd" style="width: 95%;">
        <center>
            <h1 class="text-center"><%= data.judul %></h1>
            <img src=<%= data.img %> class="card-img-top mt-4 shadowbor" alt="gambar rusak" style="width: 250px;">
        </center>  
        <div class="card-body"> 
           <% data.link.forEach(res =>{%>
            <div class="card martop align-items-center mt-4">
                <% res.forEach(dat =>{ %> 
                    <h5 class="bgrtxt defined text-center" style="width: 90%; font-size: 20px"><%= dat.kualitas  %> (<%= dat.size %>)</h3>
                        <div class="row">
                        <% dat.link.forEach(lk =>{%>
                                    <a href=<%= lk.link %>  class="btn btn-outline-primary mt-2"><%= lk.via %></a>
                        <%}) %>  
                    </div>
                <%}) %>
            </div>
            <%}) %> 
        </div>
    </div>
  </div>