  <div class="container-fluid h-100 d-flex justify-content-center mt-3">
    <div class="card bxsd" style="width: 95%;">
        <div class="row">
            <div class="col-4">
                <img src=<%= animdat.gambar  %> class="card-img-top mt-4 border border-3 border-dark" alt="Gambar Film">
            </div>
            <div class="col-8">
                <div class="card-body mt-3" id="lang_id">
                    <% animdat.info.forEach(dat =>{%>
                        <p><%- dat  %> </p>     
                    <%}) %> 
                    <button type="button" class="btn btn-outline-danger" id="bookmarkBtn">Tambahkan ke Bookmark</button>
                </div>
            </div>
        </div>
        <div class="card-body mt-4">
                <% animdat.link.forEach(res =>{%>
                    <h1 class="bgrtxt mt-3"><%= res.judul  %> </h1>
                      <div class="overflow-auto" <%- res.link.length < 3 ? `style="height: 200px;width: 90%;"` : `style="height: 500px;width: 90%;"` %>>
                        <% res.link.forEach(has => { %>
                        <div class="card mb-3 bxsd" style="width: 95%;">
                            <div class="card-body">
                                <p><%= has.judul  %></p>
                                <p><%= has.tanggal %> </p>
                                <a href="/kartun/<%= has.href %>" class="btn btn-outline-danger">Kunjungi</a>
                            </div>
                        </div>
                    <%}) %> 
                </div>    
                <%}) %>            
        </div>
        
    </div>
  </div>
  

<h1 class="text-white text-decoration-underline mt-5">Rekomendasi:</h1>
<div class="container">
    <div class="row">
        <% animdat.rekomendasi.forEach(res =>{%>
            <div class="col-sm-6 col-md-4 mt-5">
                    <div class="card bxsd" style="width: 10rem;">
                        <img src=<%= res.gambar %>  class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"><%= res.judul %> </h5>
                        <a href=<%= "/kartun/anime/"+res.link  %>  class="btn btn-outline-danger">Selengkapnya</a>
                        </div>
                    </div>
            </div>           
        <%}) %> 
    </div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    let item = JSON.parse(localStorage.getItem("sleepingowl")) || false;
    let btn = document.querySelector("#bookmarkBtn");
 
    const p = {
        judul: document.querySelector("#lang_id > p").childNodes[1].textContent.slice(2),
        gambar: "<%= animdat.gambar %>",
        link: window.location.href,
        type: "anime"
    }
    
    if(item && item.find(dat => dat.link == p.link)){
        btn.innerHTML = "Sudah dimasukkan kedalam bookmark"
        btn.disabled = true;
    }

    document.querySelector("#bookmarkBtn").addEventListener("click", (ev) =>{
        try{
            if(!item){
                localStorage.setItem("sleepingowl", JSON.stringify([p]))

                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Berhasil memasukkan ke bookmark',
                    showConfirmButton: false,
                    timer: 1500
                })

                btn.innerHTML = "Sudah dimasukkan kedalam bookmark"
                btn.disabled = true;
            }else{
                item = JSON.parse(localStorage.getItem("sleepingowl"))
                let opp = item.find(dat =>{
                    return dat.link == p.link
                })

                if(opp){
                    throw new Error("gagal")
                }

                item.push(p);

                localStorage.setItem("sleepingowl", JSON.stringify(item));

                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Berhasil memasukkan ke bookmark',
                    showConfirmButton: false,
                    timer: 1500
                })

                btn.innerHTML = "Sudah dimasukkan kedalam bookmark"
                btn.disabled = true;
            }
        }catch(err){
            Swal.fire({
                    position: 'top-end',
                    icon: 'error',
                    title: 'Gagal memasukkan ke bookmark',
                    showConfirmButton: false,
                    timer: 1500
                })
        }
    })

</script>